
body {font-family: FreeMono;}

 body{
  cursor: url(/"https://tenor.com/view/cursor-my-melody-strawberry-cutecore-twinkle-gif-7663624931115004838"), auto; 
  }

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #B5F5D5;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: auto;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #9BE8BA;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #9BE8BA;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
